<h2 mat-dialog-title>Student Information</h2>
<mat-dialog-content>
  <p><strong>Name:</strong> {{ userInfo.fullName }}</p>
  <p><strong>Email:</strong> {{ userInfo.email }}</p>
  <p><strong>Phone:</strong> {{ userInfo.phoneNumber }}</p>
  <p><strong>Gender:</strong> {{ userInfo.gender }}</p>
  <p><strong>DOB:</strong> {{ userInfo.dateOfBirth }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>